/* @tailwind base;
@tailwind components;
@tailwind utilities;
   */

.nav {
  display: flex;
  font-size: x-large;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 233, 231, 1) 100%
  );
  flex-direction: row;
  width: 1080px;
  height: auto;
  position: relative;
  top: -12rem;
  z-index: 2;
  justify-content: space-around;
}

.tableDiv {
  background-color: cyan;
  display: flex;
  position: relative;
  /* width: 100vw; */
  /* right: -8em; */
  align-items: center;
  justify-content: center;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.Dashboard {
  background-image: url("./image.jpg");
  background-size: cover;
}

.login {
  height: 400px;
  display: flex;
  color: black;
  font-size: x-large;
  align-items: center;
  justify-content: center;
  background-image: url("./image2.jpg");
  background-size: cover;
}

.register {
  height: 400px;
  display: flex;

  color: black;
  font-size: larger;
  align-items: center;
  justify-content: center;
  background-image: url("./image2.jpg");
  background-size: cover;
}
input {
  height: 2em;
  margin: 10px;
}
.enter {
  color: black;
  font-weight: 600;
}
.url {
  color: white;
}
.home {
  height: 400px;
  display: flex;
  color: white;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  background-image: url("./image3.jpg");
  background-size: cover;
}
